<mat-card>
  <mat-card-title>
    <h2>Cadastro de Departamentos</h2>
    <button mat-button class="botaoFechar" (click)="fechar()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content>

    <form [formGroup]="frm">

      <div fxLayout="column">

        <div fxLayout="row" fxFlex fxLayoutGap="10px">

          <mat-form-field fxFlex>
            <mat-label>Descrição</mat-label>
            <input matInput placeholder="Descrição" formControlName="descricao">
          </mat-form-field>

          <!-- <mat-form-field fxFlex>
            <mat-label>Nome 2</mat-label>
            <input matInput formControlName="nome2">
          </mat-form-field> -->

        </div>

        <!-- <div fxLayout="row" fxFlex fxLayoutGap="10px">

          <mat-form-field fxFlex="25%">
            <mat-label>Nome 3</mat-label>
            <input matInput formControlName="nome3">
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>Nome 4</mat-label>
            <input matInput formControlName="nome4">
          </mat-form-field>

        </div> -->

      </div>

    </form>

  </mat-card-content>

  <mat-card-actions>

    <div fxLayoutAlign="end start">
      <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    </div>

  </mat-card-actions>

</mat-card>
