<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span>
    <mat-icon>home</mat-icon>
  </span>
  
  <span class="spacer"></span> 

  <div>

    <button class="botoesToolBar" mat-raised-button color="primary" routerLink="/departamento">Departamento</button>
    <button class="botoesToolBar" mat-raised-button color="primary" routerLink="/produto">Produto</button>

  </div>

</mat-toolbar>


<router-outlet></router-outlet>
